.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 4px dashed black;
  border-color: green;
  width: 100%;
  height: 85vh;
  background-image: linear-gradient(
    to right,
    rgb(255, 255, 255),
    rgb(108, 238, 160)
  );
}
.left,
.right {
  width: 100%;
  height: 50%;
  text-align: center;
}
.right {
}
input[type="text"] {
  outline: none;
}
